<!doctype html>
<html class="no-js" lang="en"><!-- specify language: http://www.w3.org/TR/html401/struct/dirlang.html#h-8.1 -->
<head prefix="og: http://ogp.me/ns#"><!-- enable Open Graph: http://ogp.me/ -->

    <!-- charset & http-equiv may be set via response header: https://github.com/h5bp/html5-boilerplate/blob/master/doc/html.md#x-ua-compatible -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %} Demo Project{#{{ pkg.name }}#}{% endblock %}</title>
    <meta name="description" content="{{ pkg.description }}">
    <meta name="keywords" content="{{ pkg.keywords | join(', ') }}">
    <meta property="og:image" content="http://voorhoede.github.io/front-end-guide/assets/components/app-logo/demo-logo.png">
    <meta property="og:url"   content="http://voorhoede.github.io/front-end-guide/">
    <!-- optionally add more Open Graph metadata: http://ogp.me/#metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- specify viewport: https://developers.google.com/speed/docs/insights/ConfigureViewport -->
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- Enable styling differentiation between JavaScript and non-JavaScript enabled browsers -->
    <script>(function (e) { e.className = e.className.replace('no-js', 'js'); }(document.documentElement));</script>
    <!-- Enable styling of HTML5 sectioning elements in legacy browsers. Simplified inline version of HTML5Shiv (https://github.com/aFarkas/html5shiv) for enhanced performance -->
    <!--[if lt IE 9]>
    <script>
        (function (d, a) { var l = a.length; while(l--){ d.createElement(a[l]); } }(document,
        ['HEADER', 'NAV', 'SECTION', 'FOOTER', 'ARTICLE', 'MAIN', 'FIGCAPTION', 'FIGURE', 'ASIDE']));
    </script>
    <![endif]-->

    {% block styles %}
        <!-- Include stylesheets here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
        <link rel="stylesheet" href="{{ paths.assets }}index.css">
    {% endblock %}
</head>
<body data-module="{{ module.id }}">
{% block appHeader %}
{% include "components/app-header/app-header.html" %}
{% endblock %}

{% block main %}
<main id="content" role="main" tabindex="-1">
    <!-- tabindex fixes focus issue, alternatively use generic script: http://www.nczonline.net/blog/2013/01/15/fixing-skip-to-content-links/ -->
    <!-- @todo: add nav[role="navigation"] as TOC -->
    {% block content %}
    {% endblock %}
</main>
{% endblock %}

{% block appFooter %}
{% include "components/app-footer/app-footer.html" %}
{% endblock %}

{% block scripts %}
    <!-- Include scripts here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
    <script src="{{ paths.assets }}index.js"></script>
    <script>{% include "components/_app-debug/app-debug.js" %}</script>
    <style type="text/css">{% include "components/_app-debug/app-debug.css" %}</style>
{% endblock %}
</body>
</html>