<!-- app-core-style component -->

<ul class="app-guide-swatches flat-list">
    
        <li title="color-primary">
            <span class="app-guide-info">#000000</span>
            <span class="app-guide-swatch" style="background-color:#000000;"></span>
            <span class="app-guide-info">@brand-default</span>
        </li>
    
        <li title="color-primary">
            <span class="app-guide-info">#428bca</span>
            <span class="app-guide-swatch" style="background-color:#428bca;"></span>
            <span class="app-guide-info">@brand-highlight</span>
        </li>
    
        <li title="color-primary">
            <span class="app-guide-info">#5cb85c</span>
            <span class="app-guide-swatch" style="background-color:#5cb85c;"></span>
            <span class="app-guide-info">@brand-success</span>
        </li>
    
        <li title="color-primary">
            <span class="app-guide-info">#5bc0de</span>
            <span class="app-guide-swatch" style="background-color:#5bc0de;"></span>
            <span class="app-guide-info">@brand-info</span>
        </li>
    
        <li title="color-primary">
            <span class="app-guide-info">#f0ad4e</span>
            <span class="app-guide-swatch" style="background-color:#f0ad4e;"></span>
            <span class="app-guide-info">@brand-warning</span>
        </li>
    
        <li title="color-primary">
            <span class="app-guide-info">#d9534f</span>
            <span class="app-guide-swatch" style="background-color:#d9534f;"></span>
            <span class="app-guide-info">@brand-danger</span>
        </li>
    
</ul>

<style type="text/css">
    .app-guide-swatches{
        display: inline-block;
    }
    .app-guide-swatches li {
        float: left;
        width: 170px;
        margin: 15px 16px 15px 16px;
        border-width: 1px;
        border-style: solid;
        border-color: #666666;
    }
    .app-guide-swatch {
        display: block;
        border-width: 16px;
        border-style: solid;
        border-color: #e3e3e3;
        margin: 0 auto;
        width: 80px;
        height: 80px;
    }
    .app-guide-info {
        display: block;
        text-align: center;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 0.9em;
    }
</style>
<!-- /app-core-style component -->
