<!-- app-header component -->
<header role="banner" class="app-header" data-component="app-header">
    {% include "components/app-logo/app-logo.html" %}

    <!-- Quick menu (skipnav) to directly jump to specific sections: http://www.jimthatcher.com/skipnav.htm -->
    <nav class="app-header-quick-menu">
        <h2 class="a11y-sr-only">Quick menu</h2>
        <ul class="flat-list">
            <li><a class="menu-link a11y-kb-only" href="#content">Jump to content</a></li>
            <li><a class="menu-link a11y-kb-only" href="#main-menu">Jump to main menu</a></li>
            <li><a class="menu-link a11y-kb-only" href="#search">Jump to search</a></li>
            <li><a class="menu-link a11y-kb-only" href="#meta-menu">Jump to meta menu</a></li>
            <li><a class="menu-link a11y-kb-only" href="#user">Jump to user menu</a></li>
        </ul>
    </nav>
    {% include "components/search-menu/search-menu.html" %}

</header>
<!-- /app-header -->