@import (reference) "../app-core-styles/styles/mixins/clearfix";
@import (reference) "../app-core-styles/styles/variables";
@import (once) "../app-core-styles/app-core-styles";
@import (once) "../app-logo/app-logo";
@import (once) "../search-menu/search-menu";

.app-header {
	.clearfix();
	position: relative;
	border-bottom: 1px solid @brand-highlight;
	.app-logo    { float: left; }
	.meta-menu   { float: left; }
	.user-menu   { float: right; }
	.search-menu { float: right; }
}
.app-header-quick-menu {
	position: absolute;
	left: 1em;
	top: 5em;
}