<!DOCTYPE html>
<html data-ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Front-end Guide {{ pkg.name }}</title>
    <!--[if lt IE 9]>
    <script>
        (function (d, a) { var l = a.length; while(l--){ d.createElement(a[l]); } }(document,
        ['HEADER', 'NAV', 'SECTION', 'FOOTER', 'ARTICLE', 'MAIN', 'FIGCAPTION', 'FIGURE', 'ASIDE']));
    </script>
    <![endif]-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
    <link rel="stylesheet" href="{{ paths.root }}views/_guide-viewer/guide-viewer.css">
</head>
<body class="viewer" data-ng-controller="ViewerController as viewer">

{% raw %}
<header class="viewer-header" data-viewer-header data-ng-class="{ 'is-small': viewer.isCompact }">
	<img alt="De Voorhoede" class="viewer-logo"
         data-ng-src="{{ viewer.rootPath }}assets/views/_guide-viewer/voorhoede-logo.svg">
	<nav class="viewer-module-selector">
		<div class="viewer-header-select-wrapper">
			  <span class="viewer-model-type-icon" data-ng-class="{
                'viewer-icon-component' : viewer.module.type == 'component',
                'viewer-icon-view' : viewer.module.type == 'view',
            }"></span>
			<select id="viewer-module" class="viewer-header-select" data-ng-model="viewer.module"
					data-ng-options="module.name group by module.type for (id, module) in viewer.modules"></select>

		</div>
        <button class="viewer-button viewer-icon-label" data-ng-class="{ 'is-active': viewer.showAnnotations }"
                data-ng-click="viewer.toggleAnnotations()"></button>
        <button class="viewer-button viewer-icon-info-outline" data-ng-class="{ 'is-active': viewer.viewer.info.isOpen }"
                data-ng-click="viewer.viewer.info.isOpen = !viewer.viewer.info.isOpen "></button>
        <a data-ng-href="{{ viewer.getModulePath() }}" target="_blank" title="open module in new window"
           class="viewer-link viewer-icon-launch"></a>
    </nav>
    <div class="viewer-size-controls">
        <button class="viewer-button"
                data-ng-repeat="breakpoint in ::viewer.breakpoints"
                data-ng-class="{ 'is-active': (viewer.width == breakpoint.width) }"
                data-ng-click="viewer.setWidth(breakpoint.width)"
                >{{ ::breakpoint.name }}</button>
        <button class="viewer-button"
                data-ng-class="{ 'is-active': viewer.autoWidth }"
                data-ng-click="viewer.toggleAutoWidth()">FULL</button>
		<div class="viewer-width-input-wrapper">
			<input	id="viewer-width" class="viewer-width-input" type="number" min="240" step="10" required="true"
					  data-ng-model="viewer.width"
					  data-ng-readonly="viewer.autoWidth">
		</div>
    </div>

</header>
{% endraw %}

{% raw %}
<main class="viewer-content">
    <article class="viewer-info"
             data-ng-show="viewer.viewer.info.isOpen"
             data-ng-style="{ 'height': (viewer.height/(viewer.info.isCompact+1)) +'px' }">
        <header class="viewer-info-header">
            <nav>
                <ul class="viewer-tabs">
                    <li data-ng-repeat="lang in viewer.languages"
                        data-ng-if="viewer.module.info[lang]">
                        <button class="viewer-button"
                                data-ng-class="{ 'is-active': viewer.module.lang == lang }"
                                data-ng-click="viewer.setModuleLang(lang)">
                            {{ lang }}
                        </button>
                    </li>
                </ul>
            </nav>

            <div class="viewer-info-control">
                <button class="viewer-button" data-ng-click="viewer.info.isCompact = !viewer.info.isCompact"
                        data-ng-class="{
                'viewer-icon-align-top': viewer.info.isCompact,
                'viewer-icon-align-bottom': !viewer.info.isCompact
                }">
                </button>
                <button class="viewer-button viewer-icon-clear" data-ng-click="viewer.viewer.info.isOpen = false"></button>
            </div>
        </header>

        <section data-ng-repeat="lang in viewer.languages"
                 data-ng-if="viewer.module.lang == lang"
                 class="viewer-content-section" >
            <h2 class="a11y-sr-only">{{ lang }}</h2>
            <div data-ng-bind-html="viewer.module.info[lang]"
                 data-ng-class="{'viewer-info-readme': lang === 'readme'}"
                 class="viewer-info-language-content"
                ></div>
        </section>


    </article>
    <iframe class="viewer-frame"
            sandbox="allow-same-origin allow-scripts"
            data-viewer-frame
            data-ng-src="{{ viewer.getModulePath() }}"
            data-ng-attr-width="{{ viewer.width }}"
            data-ng-attr-height="{{ viewer.height }}"
            ></iframe>
</main>
{% endraw %}

<script src="https://code.angularjs.org/1.3.2/angular.min.js"></script>
<script src="https://code.angularjs.org/1.3.2/angular-sanitize.min.js"></script>
<script>
    angular.module('config',[])
        .constant('ROOT_PATH', '{{ paths.root }}')
        .constant('BREAKPOINTS', [
                { name: 'XS', width: 320, icon: 'mobile' },
                { name: 'S', width: 520, icon: 'tablet' },
                { name: 'M', width: 620, icon: 'laptop' },
                { name: 'L', width: 960, icon: 'desktop' }
            ])
        .constant('MODULES', [
            {# create list of modules based on module index #}
            {% for item in moduleIndex.components | match('^[a-z]', 'name') %}
                {{ item | prettyJson }},
            {% endfor %}
            {% for item in moduleIndex.views | match('^[a-z]', 'name') %}
                {{ item | prettyJson }},
            {% endfor %}
            {
                id: 'app/index',
                name: 'index',
                path: 'views/_guide-index/guide-index.html',
                type: 'app'
            },
            {
                id: 'app/style-guide',
                name: 'style-guide',
                path: 'views/_style-guide/style-guide.html',
                type: 'app'
            }
        ]);
</script>
<script>{% include "views/_guide-viewer/guide-viewer.js" %}</script>
</body>
</html>