{% extends "views/_base-view/base-view.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ paths.root }}/views/_app-guide/app-guide.css">
{% endblock %}

{% block content %}
    <div class="app-guide">
        <h1>
            <span class="app-guide-icon icon-th-list"></span>
            Module Index
        </h1>

        <p>Introduction.</p>

        <section>
            <h2>Views</h2>
            {% for item in moduleIndex.views %}
                <li><a href="views/{{ item }}/{{ item }}.html">{{ item }}</a></li>
            {% endfor %}
        </section>

        <section>
            <h2>Components</h2>
            {% for item in moduleIndex.components %}
                <li><a href="components/{{ item }}/{{ item }}.html">{{ item }}</a></li>
            {% endfor %}
        </section>
    </div>
{% endblock %}