{% extends "views/_base-view/base-view.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ paths.root }}views/_app-guide/app-guide.css">
{% endblock %}

{% block content %}
    <div class="app-guide">
        <h1>
            <span class="app-guide-icon icon-th-list"></span>
            Module Index
        </h1>

        <p>Introduction.</p>
        <a href="{{ path.root }}views/_style-guide/style-guide.html">style guide</a>

        <section>
            <h2>Views</h2>
            <ul>
                {# only list views starting with lowercase letter #}
                {% for item in moduleIndex.views | match('^[a-z]') %}
                    <li>
                        <a href="{{ paths.root }}views/{{ item }}/{{ item }}.html">{{ item }}</a>
                        <a href="{{ paths.root }}views/{{ item }}/{{ item }}.html?debug"
                           title="annotated view" class="app-guide-icon-tag"></a>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Components</h2>
            <ul>
                {# only list components starting with lowercase letter #}
                {% for item in moduleIndex.components | match('^[a-z]') %}
                    <li><a href="{{ paths.root }}components/{{ item }}/{{ item }}-preview.html">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}