{% macro facebook(url) %}
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ url | urlencode }}">
        Facebook
    </a>
{% endmacro %}

{% macro googlePlus(url) %}
    <a href="https://plusone.google.com/_/+1/confirm?url={{ url | urlencode }}">
        Google+
    </a>
{% endmacro %}

{% macro linkedIn(url, title, text, source) %}
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ url | urlencode }}&title={{ title | urlencode }}&summary={{ text | urlencode }}&source={{ source | urlencode }}">
        LinkedIn
    </a>
{% endmacro %}

{% macro pinterest(url) %}
    <a href="http://pinterest.com/pin/create/button/?url={{ url | urlencode }}">
        Pinterest
    </a>
{% endmacro %}

{% macro twitter(url, text) %}
    <a href="http://twitter.com/intent/tweet?url={{ url | urlencode }}&text={{ text | urlencode }}">
        Twitter
    </a>
{% endmacro %}

<!-- example usage of macros -->
<ul data-component="social-share">
    <li>{{ facebook(pkg.homepage) }}</li>
    <li>{{ googlePlus(pkg.homepage) }}</li>
    <li>{{ linkedIn(pkg.homepage, pkg.name, pkg.description, 'De Voorhoede') }}</li>
    <li>{{ pinterest(pkg.homepage) }}</li>
    <li>{{ twitter(pkg.homepage, pkg.description) }}</li>
</ul>
