









<!-- example usage of macros -->
<ul data-component="social-share">
    <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgithub.com%2Fvoorhoede%2Ffront-end-guide">
        Facebook
    </a>
</li>
    <li>
    <a href="https://plusone.google.com/_/+1/confirm?url=https%3A%2F%2Fgithub.com%2Fvoorhoede%2Ffront-end-guide">
        Google+
    </a>
</li>
    <li>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fgithub.com%2Fvoorhoede%2Ffront-end-guide&title=front-end-guide&summary=Manage%20your%20front-end%20project%20in%20unique%20views%20and%20reusable%20components.&source=De%20Voorhoede">
        LinkedIn
    </a>
</li>
    <li>
    <a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fgithub.com%2Fvoorhoede%2Ffront-end-guide">
        Pinterest
    </a>
</li>
    <li>
    <a href="http://twitter.com/intent/tweet?url=https%3A%2F%2Fgithub.com%2Fvoorhoede%2Ffront-end-guide&text=Manage%20your%20front-end%20project%20in%20unique%20views%20and%20reusable%20components.">
        Twitter
    </a>
</li>
</ul>
