.svg() {
  background-repeat: no-repeat;
}

@svg-ic_access_alarm_24px: url(icons/icons.png);

@svg-ic_access_time_48px: url(icons/icons.png);

@svg-ic_airplanemode_off_24px: url(icons/icons.png);

@svg-ic_battery_30_18px: url(icons/icons.png);

@svg-ic_battery_charging_20_48px: url(icons/icons.png);

@svg-ic_brightness_high_48px: url(icons/icons.png);

@svg-ic_data_usage_24px: url(icons/icons.png);

@svg-ic_now_widgets_24px: url(icons/icons.png);

@svg-ic_signal_wifi_0_bar_18px: url(icons/icons.png);

@svg-ic_signal_wifi_statusbar_connected_no_internet_1_26x24px: url(icons/icons.png);

@svg-ic_wifi_lock_24px: url(icons/icons.png);

