{% extends "views/_base-view/base-view.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ paths.root }}views/_guide-index/guide-index.css">
{% endblock %}

{% block content %}
    <article class="guide-index">
        <h1>{{ pkg.name }}</h1>
        <p>{{ pkg.description }}</p>

        <section>
            <h2>App</h2>
            <ul>
                <li><a href="{{ paths.root }}{{ pkg.name }}.zip">Download as zip</a> - includes all views, components & assets.</li>
                <li><a href="{{ paths.root }}views/_style-guide/style-guide.html">Style guide</a> - all primary style rules and elements.</li>
            </ul>
        </section>

        <section>
            <h2>Views</h2>
            <ul>
                {# only list views starting with lowercase letter #}
                {% for item in moduleIndex.views | match('^[a-z]', 'name') %}
                    <li>
                        <a href="{{ paths.root }}{{ item.path }}">{{ item.name }}</a>
                        <a href="{{ paths.root }}{{ item.path }}?annotate"
                           title="annotated view" class="guide-index-icon-tag"></a>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Components</h2>
            <ul>
                {# only list components starting with lowercase letter #}
                {% for item in moduleIndex.components | match('^[a-z]', 'name') %}
                    <li><a href="{{ paths.root }}{{ item.path }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </article>
{% endblock %}