<!doctype html>
<html class="no-js" lang="en"><!-- specify language: http://www.w3.org/TR/html401/struct/dirlang.html#h-8.1 -->
<head prefix="og: http://ogp.me/ns#"><!-- enable Open Graph: http://ogp.me/ -->

    <!-- charset & http-equiv may be set via response header: https://github.com/h5bp/html5-boilerplate/blob/master/doc/html.md#x-ua-compatible -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>MODULE_NAME |  Demo Project</title>
    <meta name="description" content="Manage your front-end project in unique views and reusable components.">
    <meta name="keywords" content="front-end, guide, patternlab, reusable, components, modules">
    <meta property="og:image" content="http://voorhoede.github.io/front-end-guide/assets/components/app-logo/demo-logo.png">
    <meta property="og:url"   content="http://voorhoede.github.io/front-end-guide/">
    <!-- optionally add more Open Graph metadata: http://ogp.me/#metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- specify viewport: https://developers.google.com/speed/docs/insights/ConfigureViewport -->
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- Enable styling differentiation between JavaScript and non-JavaScript enabled browsers -->
    <script>(function (e) { e.className = e.className.replace('no-js', 'js'); }(document.documentElement));</script>
    <!-- Enable styling of HTML5 sectioning elements in legacy browsers. Simplified inline version of HTML5Shiv (https://github.com/aFarkas/html5shiv) for enhanced performance -->
    <!--[if lt IE 9]>
    <script>
        (function (d, a) { var l = a.length; while(l--){ d.createElement(a[l]); } }(document,
        ['HEADER', 'NAV', 'SECTION', 'FOOTER', 'ARTICLE', 'MAIN', 'FIGCAPTION', 'FIGURE', 'ASIDE']));
    </script>
    <![endif]-->

    
        <!-- Include stylesheets here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
        <link rel="stylesheet" href="../../assets/index.css">
    
</head>
<body data-module="views/_template">

<!-- app-header component -->
<header role="banner" class="app-header" data-component="app-header">
    <a class="app-logo" href="../../" rel="home" title="to homepage" data-component="app-logo">
    <!-- link to home: http://microformats.org/wiki/rel-home -->
    <h1>
        <!-- vector image with bitmap fallback: https://twitter.com/scottjehl/status/369190249437483008 -->
        <!-- specify image dimensions for performance: http://www.feedthebot.com/pagespeed/image-dimensions.html -->
        <img alt="[Logo]"
             src="../../assets/components/app-logo/demo-logo.svg"
             onerror="this.onerror=null; this.src='../../assets/components/app-logo/demo-logo.png';"
             width="75" height="75"
             >
        
        Demo Project
    </h1>
</a>

    <!-- Quick menu (skipnav) to directly jump to specific sections: http://www.jimthatcher.com/skipnav.htm -->
    <nav class="app-header-quick-menu">
        <h2 class="a11y-sr-only">Quick menu</h2>
        <ul class="flat-list">
            <li><a class="menu-link a11y-kb-only" href="#content">Jump to content</a></li>
            <li><a class="menu-link a11y-kb-only" href="#main-menu">Jump to main menu</a></li>
            <li><a class="menu-link a11y-kb-only" href="#search">Jump to search</a></li>
            <li><a class="menu-link a11y-kb-only" href="#meta-menu">Jump to meta menu</a></li>
            <li><a class="menu-link a11y-kb-only" href="#user">Jump to user menu</a></li>
        </ul>
    </nav>
    <!-- search-menu component -->
<!-- Mark search controls for enhanced a11y: http://www.w3.org/TR/wai-aria/roles#search -->
<div role="search" class="search-menu"
     data-search-menu
     data-expandible-open-on-focus="true"
     data-expandible-close-on-blur="true"
     data-component="search-menu">
    <a id="search" rel="search" href="/views/search/search.html"
       class="menu-link"
       data-expandible-handle="toggle">
        <span class="search-menu-open  app-icon-search"></span>
        <span class="search-menu-close app-icon-cross"></span>
        <span class="a11y-sr-only">Search</span>
    </a>
    <form method="GET" action="/views/search/search.html"
          class="search-menu-form"
          data-expandible-content>
        <label>
            <span class="a11y-sr-only">Keywords</span>
            <input type="search" name="q" placeholder="keyword(s)" />
        </label>
        <button>
            <span class="app-icon-search"></span>
            <span class="a11y-sr-only">Search front-end-guide</span>
        </button>
    </form>
</div>
<!-- /search-menu -->

</header>
<!-- /app-header -->



<main id="content" role="main" tabindex="-1">
    <!-- tabindex fixes focus issue, alternatively use generic script: http://www.nczonline.net/blog/2013/01/15/fixing-skip-to-content-links/ -->
    <!-- @todo: add nav[role="navigation"] as TOC -->
    
    <!-- MODULE_NAME view -->
    write content for MODULE_NAME component here.
    <!-- /MODULE_NAME view -->

</main>



<!-- app-footer component -->
<footer role="contentinfo" class="app-footer" data-component="app-footer">
    <p>The <a href="https://github.com/voorhoede/front-end-guide">Front-end Guide</a> is a project by <a href="http://voorhoede.nl">De Voorhoede</a>.</p>
    <p>The code is licensed under <a href="https://github.com/voorhoede/front-end-guide/blob/master/LICENSE">MIT License</a>. So use it however you like.</p>
</footer>
<!-- /app-footer -->



    <!-- Include scripts here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
    <script src="../../assets/index.js"></script>
    <script>(function(doc){
	'use strict';

	var isCapableBrowser = ('classList' in doc.documentElement);
	if(!isCapableBrowser){ return; }

	var moduleId = doc.querySelector('[data-module]').getAttribute('data-module');
	var components = doc.querySelectorAll('[data-component]');

	annotateComponents();

	if(window.location.href.indexOf('annotate') > 0){ toggleAnnotations(true); }
	window.toggleAnnotations = toggleAnnotations;
	//toggleAnnotations();

	// setup two-way communication with parent frame
	if(window.top) {
		window.addEventListener('load', function (event) {
			var path = window.location.pathname;
			window.top.postMessage({
				moduleId: moduleId
			}, '*');
		}, false);

		window.addEventListener('message', function(event) {
			var message = event.data;
			if(message.fromViewer && message.showAnnotations !== undefined){
				toggleAnnotations(message.showAnnotations);
			}
		});
	}

	function annotateComponents() {
		[].forEach.call(components, function(component){
			var name = component.getAttribute('data-component');
			var label = doc.createElement('a');
			label.innerHTML = name;
			label.href = '../../components/' + name + '/' + name + '-preview.html';
			label.classList.add('debug-label');
			component.appendChild(label);
		});
	}

	function toggleAnnotations(show) {
		[].forEach.call(components, function(component){
			component.classList.toggle('debug-component', show);
		});
	}
}(document));</script>
    <style type="text/css">
.debug-component {
	outline: 2px solid black;
	outline-offset: -2px;
}

.debug-label {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	color: white !important;
	padding: .2em .5em;
	background: black;
}

.debug-component .debug-label {
	display: block;
}</style>

</body>
</html>