<!-- asset-loader component -->

<script>
    var filePaths = {
        rootpath : {
            name : "rootpath",
            path : "{{ paths.root }}"
        },
        js : {
            name : "full-js",
            path : "{{ paths.assets }}index.js"
        }
    }
</script>
<!-- On a node server this script tag is rendered to never set cookies. On an Apache web server this will never get rendered. During integration leave this out. -->
<!--#if expr="$nonExistingVar"-->
<script>var useCookie = false;</script>
<!--#endif-->

<script>{% include "components/initial/initial.js" %}</script>
<!-- /asset-loader component -->