{% extends "views/_base-view/base-view.html" %}

{% block content %}
    <h1>Index</h1>

    <section>
        <h2>Views</h2>
        {% for item in moduleIndex.views %}
            <li><a href="views/{{ item }}/{{ item }}.html">{{ item }}</a></li>
        {% endfor %}
    </section>

    <section>
        <h2>Components</h2>
        {% for item in moduleIndex.components %}
        <li><a href="components/{{ item }}/{{ item }}.html">{{ item }}</a></li>
        {% endfor %}
    </section>

{% endblock %}