<a class="app-logo" href="{{ paths.root }}/views/_guide-index/_guide-index.html" rel="home" title="to homepage" data-component="app-logo">
    <!-- link to home: http://microformats.org/wiki/rel-home -->
    <h1>
        <!-- vector image with bitmap fallback: https://twitter.com/scottjehl/status/369190249437483008 -->
        <!-- specify image dimensions for performance: http://www.feedthebot.com/pagespeed/image-dimensions.html -->
        <img alt="[Logo]"
             src="{{ paths.assets }}components/app-logo/demo-logo.svg"
             onerror="this.onerror=null; this.src='{{ paths.assets }}components/app-logo/demo-logo.png';"
             width="75" height="75"
             >
        {#{{ pkg.name }}#}
        Demo Project
    </h1>
</a>